extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Voke Elstein
        
        p Full Stack JavaScript Developer


        .about-bio

          p 
            | Voke Elstein is a seasoned Full Stack JavaScript Developer with a foundation in Java, Python, and SQL. 
            | Her expertise in frameworks like Node.js, Express, React, and Angular enables her to craft robust web applications. 
            | Voke's problem-solving prowess is evident in her efficient, modular code.
          p  Passionate about continuous improvement, Voke regularly explores new technologies and methodologies to stay at the forefront of the web development field.
          p  Besides coding, she loves traveling, swimming, and unwinding with a good book and green tea. 
            | Continuously seeking challenging projects, Voke combines learning with practical application, making her a skilled developer and a collaborative team member, ready for both coding and real-world adventures.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Java
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='') LinkedIn
        a.btn-link(href='https;//github.com/rainytides') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back