extends layout.pug

block content
    section.error-section
        h1 404 - Page Not Found
        h2 Error Status Code: #{err.status} - Page Not Found
        p #{err.message}. Please check the URL or go back to the home page.
        nav.nav
            a.backBtn(href='/')
                span &larr;
                | Home
